body {
  color: #010101;
}
#chart {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
p {
  max-width: 650px;
}
.rwd-break, .directions {
  display: block;
  display: none;
}
.directions {
  font-style: italic;
  font-size: .8em;
}
.row {
  width:940px;
  max-width:100%;
  min-width:768px;
  margin:0 auto
}
.row .row {
  width:auto;
  max-width:none;
  min-width:0;
  margin:0 -15px
}
.row .row.collapse {
  margin:0
}
.graph-content, .graph-info, .footer {
  margin-left:10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1.5em 0em;
}


@media screen and (max-width: 860px) {

  .directions {
    display: inline;
  }

  .graph-content, .graph-info, .footer {
    width: 60%;
  }
}
@media screen and (max-width: 750px) {
  .rwd-break{
    display: inline;
  }

  .graph-content{
    width: 545px;
  }

}
@media screen and (max-width: 550px) {

  .graph-content, .graph-info {
    width: 395px;
  }

}
@media screen and (max-width: 400px) {

  .graph-content, .graph-info {
    width: 330px;
  }

}


.theTip {
  position: absolute;
  text-align: center;
  font: 19px helvetica;
  color: #2A2B2B;
  line-height: 12px;
  width: 200px;
  height: auto;
  padding: 10px;
  padding-top: 12px;
  background-color: #FFFFF1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 6px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.titleTip {
  font-size: 14px;
  font-weight: 100;
}

.totalTip {
  color: #1E1E1F;
  line-height: 1.3em;
}

.inRed {
  color:#E82B27;
  font: 14px;
}

.budget {
  font-weight: 100;
}
.drawline {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #B1B3B5;
    /*padding-bottom: 2px;*/
    margin: 5px;
}
.twitter-timeline {
  width: 100%;
}

