#chart {
  height: 600px;
}

.theTip {
  position: absolute;
  text-align: center;
  font: 19px sans-serif;
  width: 200px;
  height: auto;
  padding: 10px;
  padding-top: 12px;
  background-color: #FFFFF1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 6px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}


